@import 'tailwindcss';

/* Theme */
@theme {
  --color-bg: #0b0f19;
  --color-surface: #111827;
  --color-card: #0f172a;

  --color-primary-50: #fff8e6;
  --color-primary-100: #ffedbf;
  --color-primary-200: #ffe299;
  --color-primary-300: #ffd773;
  --color-primary-400: #ffcc4d;
  --color-primary-500: #f5b942; /* main */
  --color-primary-600: #e5a62e; /* hover */
  --color-primary-700: #cc8f18; /* active */

  --color-muted: #9ca3af;
  --color-border: #1f2937;

  --color-danger: #ef4444;
  --color-success: #10b981;

  --radius-card: 1rem;
  --radius-input: 0.75rem;
  --radius-button: 0.25rem;
}

html,
body {
  background-color: var(--color-bg);
  color: white;
  min-height: 100%;
}

#app {
  min-height: 100vh;
}

@media (min-width: 1024px) {
  #app {
    min-height: 100vh;
  }
}
